@media only screen and (max-width: 1199px){
    header ul, header .col-lg-12{
        padding-left: 0px;
    }
    header a{
        font-size: 20px;
    }
    .hidden{
        visibility: hidden;
    }
    .coffee p{
        width: 120%;
    }
    .coffee p, .cookies p{
        padding:15px 0px 0px 20px !important;
        
        height: 200px;
    }
    .coffee .pt-4{
        padding-left: 20px !important;
    }
    .col-sm-6{
        padding: 0px 0px 20px 0px !important;
    }
    .col-lg-3{
        padding: 0px 70px !important ;
        padding-top: 15px !important;
    }
    .prymary .col-lg-6:last-of-type{
        margin-right: -50px !important;
    }
}